.convert-files-page {
  padding: $l-size;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.convert-files-page--footer {
  display: flex;
  justify-content: flex-end;
  &--actions > .button {
    margin-left: $s-size;
  }
}

.list-item--left {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
